@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Cormorant+Upright:wght@600;700&family=Montserrat:wght@300;400;500;800&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400&display=swap');

@layer components {

    .line {
        @apply after:absolute after:inline-block after:-bottom-1 after:left-0 after:w-1/2 after:h-[3px] after:bg-gradient-to-r after:from-[#BF953F] after:via-[#FCF6BA] after:to-[#B38728] after:rounded-sm
        
    }

    .btn1{
        @apply bg-transparent border border-gold/70 p-5 py-3 tracking-wider text-gold/70 font-bold uppercase  hover:bg-gold/70 hover:text-black
        hover:transition-all duration-75
    }

    .btn{
        @apply bg-transparent border border-lGray p-5 py-3 tracking-wider text-lGray font-bold uppercase  hover:text-black hover:bg-lGray
        hover:transition-all duration-75
    }

    .aboutBorder{
        @apply border-b border-lGray pb-3
    }

    .aboutText{
        @apply text-white md:text-xl 
    }

    .workDescription {
        @apply text-lGray text-base font-mon leading-7 p-4 bg-primary lg:p-9 mb-[2rem] shadow-lg
    }

    .projectName {
        @apply text-2xl font-bold mb-6 md:text-3xl lg:text-[2.8rem]  text-white md:leading-[2.8rem] font-mon lg:text-right
    }

}

@layer base {
    html {
      font-family: 'Cordo', 'Montserrat', sans-serif;;
    }
  }
  
  /* hover:bg-gradient-to-r hover:from-[#BF953F] hover:via-[#FCF6BA] hover:to-[#B38728] hover:border-[#BF953F] hover:text-black */


